To whom it may concern,<br>
<br>
I am writing with an interest in the position of {{ title }}.
I received my Bachelors in mechanical engineering from Oregon State University.
I am currently completing my Masters of Science in mechanical engineering from Oregon State University.
I have completed all of the degree requirements and will officially graduate in the coming weeks.
My focus at OSU was heat transfer and fluid dynamics.<br>
<br>
One reason why I chose to pursue my Masters is my passion for learning,
especially when related to science and technology.
This passion goes beyond academics, as demonstrated by the many hobbies I have had:
constructing potato guns and metal forges in high school, snowboarding, mountain biking, rock climbing,
skydiving, cooking and computer programming.
My education and my passion for learning new skills makes me an ideal candidate for this position.<br>
<br>
As an undergraduate, I completed two six-month internships:
the first at ATI Wah Chang in Albany, Oregon and the second at Allied System Company in Sherwood, Oregon.
These internships gave me invaluable real-world experience in a professional engineering environment.
I learned valuable skills such as project management and working with a variety of people.<br>
<br>
As a graduate student, I worked as a graduate research assistant on a project with
several faculty members and students.
The project involved developing microchannel devices for solar thermal power production.
This research involved the use of heat transfer and fluid dynamics software.
I improved my technical writing skills by writing reports, conference papers, and my thesis.
I also gained experience working in an academic research environment.
Finally, this position gave me experience in development of new technology.<br>
<br>
I believe I would be an excellent fit for this position.
My education and experience have taught me skills that would benefit me at {{ company }}.
I would love the opportunity to meet you and discuss my qualifications further.
If you have any questions please contact me by email at charlesrymal@gmail.com
or by phone at (503) 720-6499.
Thank you so much for this opportunity and I hope to talk to you soon.<br>
<br>
Sincerely,<br>
Charles Rymal<br>
